*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body{
      background-color: #f2f2f2;
      height: 100%px;
  }


.contenedor-form{
    display: block;
    margin-left: 200px;
}

.cont_input{
    
    display: flex;
    flex-direction: column;
 }
.cont_input input{
    margin: auto;
    margin: 10px;
   
}
label{
    font-size: 22px;
}

.coment{
    background-color: rgb(138, 202, 181);
    margin: 10px 200px;
    width: 500px;
    padding: 15px;
    border-radius: 5px;
    height: 220px;
}
.coment h2{
    margin-bottom: 5px;
}
.coment h4{
    margin-bottom: 8px;
}
.input{
    width: 500px;
    height: 50px;
    font-size: 22px;
    
}

.input_coment{
    width: 500px;
    height: 100px;
    font-size: 18px;
   
    margin-top: 10px;

}


.contenedor-comentarios{
    margin: auto;
    height: 600px;
    
   
}

.boton{
    width: 30px;
    margin-left: 10px;
    font-size: 22px;
    border: none;
    padding: 3px;
    border-radius: 5px;
    background-color: #dfe0df;
    

}
.boton2{
    transition: all 0.5s;
    margin-left: 10px;
    font-size: 20px;
    border: 1px solid;
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(138, 202, 181);
   
}
.boton:hover{
    background-color: #2afc88;
   
}
.boton2:hover{
    background-color: #d4ffe2;
}
.boton a{
    text-decoration: none
}
.fa-solid{
    font-size: 25px;
    color: #777;
}
.btn{
    margin-left: 210px;
}

.coment_edit{
    margin-left: 200px;
}

.name{
    font-size: 25px;
    color: #555;
}
.titulo{
    font-size: 22px;
    color: #7c7c7c;
}
.comentario{
    word-wrap: break-word;
    font-size: 20px;
    color: #706e6e;
    height: 70px;
}
textarea{
    resize: none;
}
