/* styles.css */

/*=========================INICIO========================*/
/*=========================INICIO========================*/
/*=========================INICIO========================*/
a{
  text-decoration: none;
}

.seccion{
  padding-top: 50px;
  margin: auto;
  width: 60%;
}

.img{ 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.item1{background-image: url('https://cdn.wallpapersafari.com/31/12/4seaIJ.jpg');}
.item2{background-image: url('https://wallpaperaccess.com/full/4082325.jpg');}
.item3{background-image: url('https://i.pinimg.com/736x/4e/aa/fe/4eaafedbcb5a435a8fbd74b52c9a6161.jpg');}
.item4{background-image: url('https://www.argentinaturismo.com.ar/bariloche/galeria/bariloche_22.jpg');}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 10px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid-item{
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color:rgba(255, 255, 243, 0.849);
  
  border-radius: 4px;
  color: #888;
  font-size: 35px;
  border: 1px solid rgb(255, 255, 255);
}

.text_enlace{
  background-color: rgba(247, 243, 240, 0.719);
  border-radius:5px;
}

.item{
  transition: transform 0.3s ease-in-out;
  grid-column: span 1;
}

.item:hover{
  filter: opacity(0.9);
  transform: scale(1.04);
}

.wide{grid-column: span 2;}

.tall{grid-row: span 2;}

.text_title{
  grid-column: span 3;
  grid-row: span 1;
}
.text_subtitle{
  grid-column: span 3;
  grid-row: span 1;

}



/*==================================================*/
/*========MEDIA QUERY=========MEDIA QUERY==========*/
/*================================================*/

@media  screen and (max-width: 950px) {
  
  .seccion{
    width: 80%;
  }
  
}

@media  screen and (max-width: 700px) {

  .grid-item{
    font-size: 25px;
  }
  #svg3{
    display: none;
  }
  .wide{
    grid-column: span 1;
  }
  
  .tall{
    grid-row: span 1;
  }

  .seccion{
    width: 100%;
    margin-bottom: 0px;
  }
  
  nav a{
    font-size: 15px;
  }
  
}



