/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /*
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
 */
 background-color: #f2f2f2;
  height: 100%;
  }

/* Estilo para el encabezado y el menú de navegación */
/*===========================================================================*/
/*====NAVEGACION==========NAVEGACION===========NAVEGACION====================*/
/*===========================================================================*/

.on_off{
  display: none;
}


.titulo_web{
  font-size: 30px;
  margin-bottom: 15px;
  color: #00c9ff;
}

header {
  z-index: 10;
  width: 100%;
  position: fixed;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 15px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
nav a:hover{
  border-bottom: 2px solid #00c9ff;
}

.animaciones{transition: transform 0.6s ease;font-size: 22px;}
.animaciones:hover{transform: scaleX(-1);}


/* Estilo para la sección del hero */

.hero {
    text-align: center;
    padding: 5px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

main{
  height: 100%;
}

/*=============BIENVENIDA==============*/
a{
  text-decoration: none;
}

.seccion{
  padding-top: 50px;
  margin: auto;
  width: 60%;
}

.img{ 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.item1{background-image: url('https://cdn.wallpapersafari.com/31/12/4seaIJ.jpg');}
.item2{background-image: url('https://wallpaperaccess.com/full/4082325.jpg');}
.item3{background-image: url('https://i.pinimg.com/736x/4e/aa/fe/4eaafedbcb5a435a8fbd74b52c9a6161.jpg');}
.item4{background-image: url('https://www.argentinaturismo.com.ar/bariloche/galeria/bariloche_22.jpg');}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 10px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid-item{
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color:rgba(255, 255, 243, 0.849);
  
  border-radius: 4px;
  color: #888;
  font-size: 35px;
  border: 1px solid rgb(255, 255, 255);
}

.text_enlace{
  background-color: rgba(247, 243, 240, 0.719);
  border-radius:5px;
}

.item{
  transition: transform 0.3s ease-in-out;
  grid-column: span 1;
}

.item:hover{
  filter: opacity(0.9);
  transform: scale(1.04);
}

.wide{grid-column: span 2;}

.tall{grid-row: span 2;}

.text_title{
  grid-column: span 3;
  grid-row: span 1;
}
.text_subtitle{
  grid-column: span 3;
  grid-row: span 1;

}

/* Agrega estilos para las secciones destacadas, ofertas especiales, testimonios y formulario de contacto según tus necesidades */

/* Estilo para el pie de página */


/*=============================================*/
/*=====FOOTER=====FOOTER======FOOTER==========*/
/*============================================*/

.footer{
  margin: auto;
  background-color: #555555;
  bottom:0;
  padding-top: 30px;
}
.footer i{
  margin: 0 20px;
  cursor: pointer;

}

footer {
  background-color: #555555;
  color: #fff;
  text-align: center;
  width: 100%; 
  height: 120px;
}

footer p{
  padding-bottom: 20px;
}
/* Estilos adicionales según tus preferencias */


/*=========================formato de las columnas del footer==========*/
.columna-izquierda  {
    
  text-align: left;
  margin: 0; /* Ancho de cada columna (ajusta según tus necesidades) */
}

.columna-derecha{
text-align: left;
margin:0;}

.columna-izquierda h2, .columna-derecha h2 {
  color: #00c9ff; /* Estilo para los títulos */
}

/* Estilos adicionales, como márgenes y espaciado */
.footerul {
  /* list-style: none; */
  padding: 0;
  margin: 15px 0px 0px 15px;
}

.footerul li a{
  text-decoration: none;
}

.footerli {
  padding: 0;
  margin:0;
  color: #fff;
}

.columnas-container {
  width: 80%; /* Ajusta el ancho según tus necesidades */
  margin: 0 auto; /* Centra horizontalmente el contenedor */
  display: flex; /* Utiliza flexbox para alinear las columnas */
  justify-content: space-between; /* Coloca espacio entre las columnas */
}
.enlace-footer {
  color:#fff; /* Cambia el color a blanco */
}

/* Estilos adicionales según tus preferencias */

/*==================================================*/
/*========MEDIA QUERY=========MEDIA QUERY==========*/
/*================================================*/

@media  screen and (max-width: 950px) {
  
  .seccion{
    width: 80%;
  }
  
}

@media  screen and (max-width: 700px) {

  .grid-item{
    font-size: 25px;
  }
  #svg3{
    display: none;
  }
  .wide{
    grid-column: span 1;
  }
  
  .tall{
    grid-row: span 1;
  }

  .seccion{
    width: 100%;
    margin-bottom: 0px;
  }
  
  nav a{
    font-size: 15px;
  }
  
}

/*==============================================================*/
/*==============================================================*/

@media screen and (max-width: 800px){

  header {
    height: 100px;
    padding: 10px 0;
    
  }
  .enlaces{
    display: none;
  }
  .on_off{
    display: flex;
  }
  .hamburguer{
    z-index: 20;
    color: #00c9ff;
    position: fixed;
    top: 30px;
    font-size: 30px;
    right: 30px;
    cursor: pointer;
  }
  
  .menu-navegacion{
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    width: 40vw;
    height: 100%;
    /*
    background-image: linear-gradient(to top, #30cfd0 0%, #085c67 100%);*/
    background-color: #555;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
  
  }
  
  .spread{
    transform: translate(0);
    transition: all 1s;
  }
  .menu-navegacion a{
    color: #fff;
    text-decoration: none;
  }

  .footer{
    padding-bottom: 10px;
  }
  

}

