

/*===========================================================================*/
/*====BIENVENIDA==========BIENVENIDA===========BIENVENIDA====================*/
/*===========================================================================*/

.title{
    color: #424949;
    text-align: center;
    font-size: 3.5rem;
    padding: 0.8em 0 .4;
    margin: 2em 0em 1em 0em;

}

.clima{
    background: #fff;
    color: #424949;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    padding-left: 15px;
    height: 80px;
}

.clima h2{
    font-size: 25px;
    margin-right: 15px;
    padding-top: 30px;
}
.clima p{
    margin-right: 15px;
    padding-top: 30px;
    font-size: 20px;
}

.cont_text{
    text-align: center;
}

.bienvenida{
    /*font-family: 'Roboto Condensed', sans-serif;*/
    margin: auto;
    display: flex;
    background-color: #7de3fd;
    height: 455px;
    width:1100px;
    border-radius: 8px;
    /*
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);*/
    border: 1px solid #999999;
  }
  .presentacion{
    padding:30px 10px; 
  }
  .titulo_1{
    text-align: center;
    padding-bottom: 0.3em;
    font-size: 43px;
    color: #424949;
    border-bottom: 2px solid #f2f2f2 ;
   
  }
  .texto_1{
    padding-top: 5px;
    color:#555;
    font-weight: 300;
    font-size: 19px;
  }
  iframe{
    width: 600px;
    height: 445px;
  }
  .tx{
    
    text-decoration: none;
    color: #9c9c9c;
    font-weight: 600;
    font-size: 25px;
    /*border-bottom: 2px solid #f2f2f2;*/
    padding-bottom: 20px;
 }
 
  .video{padding: 3px 3px 3px 3px;}

/*===========================================================================*/
/*====LUGARES TURISTICOS=====LUGARES TURISTICOS======LUGARES TURISTICOS======*/
/*===========================================================================*/

/* Estilo para la sección de destino y carrousel */
.content-img{
    width: 900px;
    overflow: hidden;
    height:450px;
    }

    .content-img img{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }


.destination {
    flex-grow: 1; /* Esta sección crecerá para llenar el espacio restante */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 1em 0em;
}

/* Estilo para el título "Lugares Turísticos" */
.destination h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilo para el contenedor de lugares turísticos */
.tourist-spot {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #f8f8f8; /* Fondo para destacar cada lugar turístico */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra para un efecto de elevación */
}

.tourist-spot img {max-width: 100%;}

/* Estilo para el título del lugar turístico */
.tourist-spot h2 {
    font-size: 20px;
    margin-top: 10px;
}

/* Estilo para la descripción del lugar turístico */
.tourist-spot p {
    font-size: 16px;
    margin-top: 10px;
}

/* Estilo para las coordenadas del lugar turístico */
.tourist-spot .coordinates {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

/* styles.css */

/* ... Otros estilos ... */

/* Estilo para el carrusel */
.carousel-container {
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 10px #033f49;
}

.carousel-slide {
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.carousel-slide.active {
    display: block;
    opacity: 1;
}

/* Estilo para la información del carrusel */
.carousel-caption {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
}

.carousel-caption h2 {
    font-size: 24px;
    margin: 10px 0;
}

.carousel-caption p {
    font-size: 18px;
    margin: 10px 0;
}

.carousel-caption a {
    color: #fff;
    text-decoration: underline;
}

/* Estilo para los controles del carrusel */
.carousel-controls {
    text-align: center;
    margin-top: 10px;
}

.carousel-controls button {
    background-color: #45b5aa;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
/* Estilo para las flechas de control */
.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

/*===========================================================================*/
/*====EXCURSIONES========BUENOS AIRES============EXCURSIONES==================*/
/*===========================================================================*/
.exc{
    font-family: 'Playfair Display', serif;
}
.Excursiones{
    text-align: center;
    padding-bottom: 0.5em;
    font-size: 43px;
    color: #555;
    border-bottom: 3px solid #00c9ff;
}

.grid-item{
    
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #03afff;*/
    /*background-image: url('https://cdn2.buenosaires.gob.ar/turismo/tranvia-de-caballito-600x350.jpg');*/
    border-radius: 4px;
    transition: trnsform 0.3s ease-in-out;
    border: solid 1px rgb(255, 255, 255);
}



.contenedor_grid{
    background-color: #F2F2F2;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-auto-rows: 280px;
    gap: 10px;
    padding: 0px 340px;
}

.grid_img{ 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
 /*
.item{
  transition: transform 0.3s ease-in-out;
  grid-column: span 1;
}

  */

.gallery__picture{
    position: relative;
    cursor: pointer;
}

.gallery__picture::before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(12, 18, 18, 0.251);
    transform: scale(0);
    transition: transform .4s;
    color:#F2F3F4;
    /*border-radius: 28px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.gallery__picture:hover::before{transform: scale(1);}

/*===========================================================================*/
/*====GASTRONOMIA========GASTRONOMIA===========GASTRONOMIA===================*/
/*===========================================================================*/

.title-rest{
  margin: auto;
  font-size: 45px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #424949;
}

.targetas{
    margin: 30px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.card{
    margin: 15px 20px;
    /*margin: 0px 30px;*/
    width: 450px;
    height: 260px;
    display: flex;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 5px 10px #033f49;
    border-radius: 10px;
    transition: 0.2s;
}
.card:hover{
    transform: scale(1.02);
    box-shadow: 0 5px 20px #033f49;
}
.img{
    width: 50%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}

.card .content{
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-rows: 60px 110px 50px;
    padding: 10px 10px;
}
.card .content .titl h3{
    color: #008f7a;
}
.card .content .text{
    margin-top: 15px;
}
.card .content .text ul li{
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.map{
    color:rgba(57,54,52,0.73);
    font-size:14px;
    margin-top:3px;
    margin-left:3px;
    text-decoration: none;
    transition: all 0.8s;
}
.map:hover{
    color: #008f7a;
    text-decoration: underline;
    transition: all 0.8s;
}

.cont-btn{
    background-color:#008f7a;
    width: 50px;
    height: 25px;
    border-radius: 3px;
    transition: all 1.2s;
}
.cont-btn:hover{
    background-color:#08c9ac;
}

.btn-link{
    margin: 0px 6px;
    text-decoration: none;
    font-size: 18px;
    color: #f2f2f2;
}

/*===========================================================================*/
/*====HOTELES========HOTELES===========HOTELES=========HOTELES===============*/
/*===========================================================================*/

.hotel_name{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 25%;
    text-decoration: none;
    color: #ffffff;
    font-size: 35px;
    opacity: 1;
}
.name_display{
    display: none;
}

.hotel_name:hover .name_display{
    display: inline;
}
.hotel_name:hover{
    background-color: rgba(12, 18, 18, 0.5);
    border-radius: 15px;
    transition: all 0.5s;
    opacity: 1;
}
.hotel_name::before{transform: scale(1); }


/*=================BUENOS AIRES===================*/
.hotel_img1{background-image: url('https://cf.bstatic.com/xdata/images/hotel/max1024x768/22113570.jpg?k=50944ce5e79a439a84781c80e40564ad174a0eb0955bcc5b5033469b4f44bfa7&o=&hp=1');}
.hotel_img2{background-image: url('https://cf.bstatic.com/xdata/images/hotel/max1024x768/260465067.jpg?k=5a124962ec9c28175234d4e3095d79936231081f4e1b4b5821f78a86e986f974&o=&hp=1');}
.hotel_img3{background-image: url('https://www.hilton.com/im/en/BUEHIHH/9576099/hilton-buenos-aires-external-view.jpg?impolicy=crop&cw=5760&ch=3225&gravity=NorthWest&xposition=0&yposition=307&rw=768&rh=430');}
.hotel_img4{background-image: url('https://static-new.lhw.com/HotelImages/Final/LW7010/lw7010_68120970_720x450.jpg');}
.hotel_img5{background-image: url('https://madero.buenosaireshotelsargentina.com/data/Images/OriginalPhoto/12772/1277264/1277264722/image-buenos-aires-hotel-madero-7.JPEG');}
.hotel_img6{background-image: url('https://cf.bstatic.com/xdata/images/hotel/max1024x768/10953633.jpg?k=806af303357bc95828276fd6ff367abb671e2cbd600e00a8ba6ec8b2158117be&o=&hp=1');}
/*=================MENDOZA===================*/
.hotel_img7{background-image: url('https://hotel-ibis-mendoza.mendoza-hotels-ar.com/data/Photos/OriginalPhoto/10064/1006425/1006425871/mendoza-ibis-hotel-5521-photo-17.JPEG');}
.hotel_img8{background-image: url('https://img.nh-hotels.net/dyPeA/qyaXvB/original/NH_Ciudad_de_Santiago_Facade_Night_Lights_on_Entrance_Plaque_External_Signage_NH_Letters_Symbol.jpg?output-quality=80&resize=1600:*&background-color=white');}
.hotel_img9{background-image: url('https://cf.bstatic.com/xdata/images/hotel/max1024x768/22010948.jpg?k=3626afe4be74a94ba3b81c694a9622b2b4c8bae8762a41082c5f03d70d314cc8&o=&hp=1');}
.hotel_img10{background-image: url('https://cf.bstatic.com/xdata/images/hotel/max1024x768/448715257.jpg?k=ca0dd00397a09eb9c9b585f4dc8145b6315aa9d185bfcda9c4f00f394fb5775e&o=&hp=1');}
.hotel_img11{background-image: url('https://cf.bstatic.com/xdata/images/hotel/max1024x768/40940336.jpg?k=469fd9108985278f74c1a07cac263bf1257d3616e47fde759bd9453ec23aadf0&o=&hp=1');}
.hotel_img12{background-image: url('https://villaggiohotel.gr/wp-content/uploads/2021/09/DJI_0366.jpg');}
/*=================CORDOBA===================*/
.hotel_img13{background-image: url('https://cf.bstatic.com/xdata/images/hotel/max1024x768/235217060.jpg?k=b1c11c9f280d3f21ccb30c3015d0a9cddbd155c21fd93b6e4cc33a49b8cea6f3&o=&hp=1');}
.hotel_img14{background-image: url('https://hoteles.en-la-argentina.com.ar/images/hoteles/1397342851-1.jpg');}
.hotel_img15{background-image: url('https://www.hostalgolondrinas.com.ar/wp-content/uploads/slider-DJI_0196-1.jpg');}
.hotel_img16{background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/05/fa/53/16/hotel-las-cascadas.jpg?w=700&h=-1&s=1');}
.hotel_img17{background-image: url('https://www.hjargentina.com/img/hoteles/19/56.jpg');}
.hotel_img18{background-image: url('https://cf.bstatic.com/xdata/images/hotel/max500/10601848.jpg?k=4040247919b475ad0eb5cd9e93a30fab797ce99663cb9a610ffcc212aa4534a3&o=&hp=1');}
/*=================RIO NEGRO===================*/
.hotel_img19{background-image: url('https://lh3.googleusercontent.com/p/AF1QipPzYTB7Qrl_P4Ba5Zswk4uUzbxz_ZALj-VMqiu2=w287-h192-n-k-rw-no-v1');}
.hotel_img20{background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0b/d8/91/ef/frente-y-entrada.jpg?w=700&h=-1&s=1');}
.hotel_img21{background-image: url('https://lh3.googleusercontent.com/p/AF1QipMTHmeaGrUD-n-7Jpo8AQPH8apBGTbuUTSvUKzB=w287-h192-n-k-rw-no-v1');}
.hotel_img22{background-image: url('https://llaollao.com/resources/img/hero-home1.jpg');}
.hotel_img23{background-image: url('https://www.hotelpuertoblest.com.ar/nueva/wp-content/uploads/2021/10/dest-2.jpg');}
.hotel_img24{background-image: url('https://hotel.bosquedelnahuel.com.ar/wp-content/uploads/2019/01/62.jpg');}


.grid_hoteles{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: trnsform 0.3s ease-in-out;
    border: solid 1px rgb(255, 245, 188);
}


/*--=====================MAPA===================--*/
  /*--============================================--*/
        
  .mapa{
    margin: auto;
    width: 80%;
    height: 290px;
  }
  #mi_mapa{
    z-index: 0;
    margin: auto;
    width: 100%;
    height: 280px;
    border-radius: 5px;
  }
  
  
  
/*============================================================================*/
/*====@MEDIA SCREEN========@MEDIA SCREEN==========@MEDIA SCREEN===============*/
/*===========================================================================*/ 


@media screen and (max-width: 1450px){
    /*=========EXCURSIONES========*/
    .grid-container{
        padding: 0px 170px;
    }
}
@media screen and (max-width: 1200px){
    /*===========EXCURSIONES=========*/
    .grid-container{
        padding: 0px 100px;
    }
}

@media screen and (max-width: 900px){
    /*----------EXCURSIONES----------*/
    gallery__img{width: 400px;}
    /*----------HOTELES---------------*/
    .hoteles__overlay {width: 400px; height:200px}
    .hoteles__img{width: 400px; height:200px;}
}

@media screen and (max-width: 950px){
    /*=========excursiones=======*/
    .grid-container{
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-auto-rows: 200px;
        padding: 0px 50px;  
    }
}

@media screen and (max-width: 700px){
    /*-------------EXCURSIONES----------*/
    /*gallery__img{ width: 300px;}*/
    .grid-container{
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-auto-rows: 150px;
        padding: 0px 10px;
    }
    /*-------------HOTELES-----------*/
    .name_display{font-size: 30px;}
    .hotel_name{padding-top: 20%;}
    /*
    .gallery_hoteles{
        grid-template-areas:  
        "img7 img7 img8 img8"
        "img9 img9 img10 img10"
        "img11 img11 img12 img12";
    }  */
}

@media screen and (max-width: 480px){
    /*==========EXCURSIONES===========*/
    .Excursiones{font-size: 30px; border-bottom: 1px solid #00c9ff;}

    .gallery__picture::before{
        font-size: 1rem;
    }
    .grid-container{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 150px;
        padding: 0px 5px;
        
    }
}
