/*===========================================================================*/
/*====EXCURSIONES========BUENOS AIRES============EXCURSIONES==================*/
/*===========================================================================*/



.bsas_gal::before{content: "CABALLITO EN TRANVÍA";}
.bsas_gal::before{content: "MUSEO QUINQUELA";}
.bsas_gal::before{content: "VISITÁ EL CENTRO ANA FRANK";}
.bsas_gal::before{content: "AVISTAJE DE AVES EN LIBERTAD";}
.bsas_gal::before{content: "CONOCÉ EL MUSEO XUL SOLAR";}
.bsas_gal::before{content: "BOTÁNICA EN EL ECOPARQUE";}


/*===========================================================================*/
/*====EXCURSIONES=========== MENDOZA============EXCURSIONES==================*/
/*===========================================================================*/

.mend_gal::before{content: "Cañón Atuel";}
.mend_gal::before{content: "Termas Cacheuta";}
.mend_gal::before{content: "Bodegas en el Valle de Uco";}
.mend_gal::before{content: "Reserva El Manzano";}
.mend_gal::before{content: "Pie de los Andes";}
.mend_gal::before{content: "Reserva Villavicencio";}

/*===========================================================================*/
/*====EXCURSIONES========== CORDOBA ============EXCURSIONES==================*/
/*===========================================================================*/

.cord_gal::before{content: "Las 7 Cascadas-La Falda";}
.cord_gal::before{content: "Pekos Multiparke-Carlos Paz";}
.cord_gal::before{content: "Reserva Natural-Santa Rosa";}
.cord_gal::before{content: "La Olla-Santa Rosa";}
.cord_gal::before{content: "Centro de Villa Generl Belgrano";}
.cord_gal::before{content: "Dique los Molinos-Villa General Belgrano";}

/*============================================================================*/
/*====EXCURSIONES===========RIO NEGRO============EXCURSIONES==================*/
/*============================================================================*/

.rioneg_gal::before{content: "Bariloche";}
.rioneg_gal::before{content: "Cerro Campanario";}
.rioneg_gal::before{content: "Cerro Catedral";}
.rioneg_gal::before{content: "Cerro Tronador";}
.rioneg_gal::before{content: "Cerro Otto";}
.rioneg_gal::before{content: "Lago Correntoso";}