@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
    background-color: #f2f2f2;
    height: 100%;
}

/*===========================================================================*/
/*====NAVEGACION==========NAVEGACION===========NAVEGACION====================*/
/*===========================================================================*/

.on_off{
    display: none;
  }
  
  
  .titulo_web{
    font-size: 30px;
    margin-bottom: 15px;
    color: #00c9ff;
  }
  
  header {
    z-index: 10;
    width: 100%;
    height: 100px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  nav ul {
      list-style: none;
      padding: 15px;
  }
  
  nav li {
      display: inline;
      margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }
  nav a:hover{
    border-bottom: 2px solid #00c9ff;
  }
  
  .animaciones{transition: transform 0.6s ease;font-size: 22px;}
  .animaciones:hover{transform: scaleX(-1);}



  /*===========================================================================*/
/*====FOOTER========FOOTER===========FOOTER=========FOOTER===============*/
/*===========================================================================*/

.footer{
    margin: auto;
    background-color: #555555;
    bottom:0;
    padding-top: 30px;
  }
  .footer i{
    margin: 0 20px;
    cursor: pointer;
  
  }
  
  footer {
    background-color: #555555;
    color: #fff;
    text-align: center;
    width: 100%; 
    height: 125px;
  }
  
  footer p{
    padding-bottom: 20px;
  }
  /* Estilos adicionales según tus preferencias */
  
  /*=========================formato de las columnas del footer==========*/
  .columna-izquierda  {
      
    text-align: left;
    margin: 0; /* Ancho de cada columna (ajusta según tus necesidades) */
  }
  
  .columna-derecha{
  text-align: left;
  margin:0;}
  
  .columna-izquierda h2, .columna-derecha h2 {
    color: #00c9ff; /* Estilo para los títulos */
  }
  
  /* Estilos adicionales, como márgenes y espaciado */
  .footerul {
    /* list-style: none; */
    padding: 0;
    margin: 15px;
  }
  
  .footerul li a{
    text-decoration: none;
  }
  
  .footerli {
    padding: 0;
    margin:0;
    color: #fff;
  }
  
  .columnas-container {
    width: 80%; /* Ajusta el ancho según tus necesidades */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    display: flex; /* Utiliza flexbox para alinear las columnas */
    justify-content: space-between; /* Coloca espacio entre las columnas */
  }
  .enlace-footer {
    color:#fff; /* Cambia el color a blanco */
  }

  
/*============================================================================*/
/*====@MEDIA SCREEN========@MEDIA SCREEN==========@MEDIA SCREEN===============*/
/*===========================================================================*/ 


@media screen and (max-width: 800px){

    header {
      height: 100px;
      padding: 10px 0;
      
    }
    .enlaces{
      display: none;
    }
    .on_off{
      display: flex;
    }
    .hamburguer{
        z-index: 20;
      color: #00c9ff;
      position: fixed;
      top: 30px;
      font-size: 30px;
      right: 30px;
      cursor: pointer;
    }
    
    .menu-navegacion{
      z-index: 10;
      position: fixed;
      top: 0;
      right: 0;
      width: 30vw;
      height: 100%;
      background-color: #555;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      transition: transform .3s ease-in-out;
      transform: translate(110%);
      box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    
    }
    
    .spread{
      transform: translate(0);
      transition: all 1s;
    }
    .menu-navegacion a{
      color: #fff;
      text-decoration: none;
    }

    footer p{
        padding-top: 20px;
    }
  
  }

  @media screen and (max-width: 700px){

    

    nav a{
        font-size: 15px;
    }

    footer p{
        padding-top: 20px;
    }
    
}
