<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Full Tours</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../CSS/main.css">
    <link rel="stylesheet" href="../CSS/nav_footer.css">
    <link rel="stylesheet" href="../CSS/name_gallery.css">
    <link rel="stylesheet" href="../CSS/comentario.css">

    <script src="https://kit.fontawesome.com/727e2fb7ac.js" crossorigin="anonymous"></script>
    <script src="../JS/main.js"></script>
    

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

</head>
<body>
        
    <header>
                <nav>
                    <ul class="enlaces">
                        <li class="titulo_web"><i class='bx bxs-plane-take-off'  style='color:#1ca8b9;font-size: 40px;'></i> FULL TOURS </li>
                        <li><a href="../index.html"><i class='bx bxs-home animaciones'></i></a></li>
                        <li><a href="./buenos_aires.html">Buenos Aires</a></li>
                        <li><a href="mendoza.html">Mendoza</a></li>
                        <li><a href="./cordoba.html">Córdoba</a></li>
                        <li><a href="./Rio_Negro.html">Rio Negro</a></li>
                        <li><a href="./contacto.html">Contacto</a></li>
                        <li><a href="./comentarios.html">Comentarios</a></li>
                    </ul>
        
                    <ul class="enlaces on_off">
                        <li class="titulo_web"><i class='bx bxs-plane-take-off'  style='color:#1ca8b9;font-size: 40px;'></i>Full Tours</li>
                    </ul>
                    <div class="on_off">
                        <i class='bx bx-menu hamburguer'></i>
                    </div>
                    <div class="menu-navegacion on_off">
                        <br><br>
                        <i class="bx bx bxs-plane-take-off" style='color:#1ca8b9;font-size: 33px;'><strong style="font-size:22px;">Full Tours</strong></i>
                        <a href="../index.html"><i class='bx bxs-home animaciones'></i></a>
                        <a href="./buenos_aires.html">Buenos Aires</a>
                        <a href="mendoza.html">Mendoza</a>
                        <a href="./cordoba.html">Córdoba</a>
                        <a href="./Rio_Negro.html">Rio Negro</a>
                        <a href="./contacto.html">Contacto</a>
                        <a href="./comentarios.html">Comentarios</a>
                        <i class="bx" style='color:#1ca8b9;font-size: 20px;'>Sobre Nosotros</i>
                        <a href="#">Términos y Condiciones</a>
                        <a href="#">Politica de Privacidad</a>
                        <i class="bx" style='color:#1ca8b9;font-size: 20px;'>Ayuda Soporte</i>
                        <a href="#">Nuestro país</a>
                        <a href="#">Quienes Somos</a>
                    </div>
                </nav>
    </header>
    
  <main>
    <section >

        <h2 class="title">Comentarios</h2>

        <p class="title" style="font-size: 30px;">Dejanos tu opinion sobre nosotros.</p>




        <div class="contenedor-form">
            <form class="formTarea" action="" id="formTask">
            
                <div class="cont_input">
                    <label for="">Nombre / Usuario</label>
                    <input class="input" type="text" id="nombre" placeholder="Nombre o Usuario" >
                    <label for="">Titulo</label>
                    <input class="input" type="text" id="titulo" placeholder="Titulo">
                    <label for="">Comentario</label>
                    <input class="input_coment" type="text" id="texto" placeholder="Comentario">
                </div>
                <button class="boton2"  type="submit">Enviar</button>
            </form>
        </div>
        
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section class="presentacion">
       <div>
        <h1 class="title" style="font-size: 35px;">Comentarios de quienes nos contactaron</h1>

        <div class="" id="app">
        </div>
        
       </div>
    </section>


  </main>
       
    <footer >

            <div class="columnas-container">
        
              <div class="columna-izquierda enlaces">
                <h2>Ayuda y Soporte</h2>
                <ul class="footerul">
                  <li class="footerli"><a href="#" class="enlace-footer">Términos y Condiciones</a></li>
                  <li class="footerli"><a href="#" class="enlace-footer">Politica de Privacidad</a></li>
                  <!--<li class="footerli"><a href="#"class="enlace-footer">Promociones Vigentes</a></li>-->
                </ul>
              </div>
        
              <div  class="footer">
                <i class="fa-brands fa-instagram fa-beat-fade fa-2xl" style="color: #cf66f5;"></i>
                <i class="fa-brands fa-whatsapp fa-beat-fade fa-2xl" style="color: #47d73c;"></i>
                <i class="fa-brands fa-facebook fa-beat-fade fa-2xl" style="color: #5291ff;"></i> 
              </div>
        
              <div class="columna-derecha enlaces">
                <h2>Sobre Nosotros</h2>
                <ul class="footerul">
                  <li class="footerli"><a href="#"class="enlace-footer">Nuestro país</a></li>
                  <li class="footerli"><a href="#"class="enlace-footer">Quienes Somos</a></li>
                  <!--<li class="footerli"><a href="#"class="enlace-footer">Mapa del Estado</a></li>-->
                </ul>
              </div>
        
            </div>
        
        <p>© 2023 Full Tours. Todos los derechos reservados.</p>
        
    </footer>

    <script src="../JS/menu.js"></script>
    <script src="../JS/coment.js"></script>
    
</body>
</html>