<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Full Tours</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../CSS/main.css">
    <link rel="stylesheet" href="../CSS/nav_footer.css">
    <link rel="stylesheet" href="../CSS/name_gallery.css">

    <script src="https://kit.fontawesome.com/727e2fb7ac.js" crossorigin="anonymous"></script>
    <script src="../JS/main.js"></script>
    

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

</head>
<body>

    <header>
        <nav>
            <ul class="enlaces">
                <li class="titulo_web"><i class='bx bxs-plane-take-off'  style='color:#1ca8b9;font-size: 40px;'></i> FULL TOURS </li>
                <li><a href="../index.html"><i class='bx bxs-home animaciones'></i></a></li>
                <li><a href="./buenos_aires.html">Buenos Aires</a></li>
                <li><a href="mendoza.html">Mendoza</a></li>
                <li><a href="./cordoba.html">Córdoba</a></li>
                <li><a href="./Rio_Negro.html">Rio Negro</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>

            <ul class="enlaces on_off">
                <li class="titulo_web"><i class='bx bxs-plane-take-off'  style='color:#1ca8b9;font-size: 40px;'></i>Full Tours</li>
            </ul>
            <div class="on_off">
                <i class='bx bx-menu hamburguer'></i>
            </div>
            <div class="menu-navegacion on_off">
                <br><br>
                <i class="bx bx bxs-plane-take-off" style='color:#1ca8b9;font-size: 33px;'><strong style="font-size:22px;">Full Tours</strong></i>
                <a href="../index.html"><i class='bx bxs-home animaciones'></i></a>
                <a href="./buenos_aires.html">Buenos Aires</a>
                <a href="mendoza.html">Mendoza</a>
                <a href="./cordoba.html">Córdoba</a>
                <a href="./Rio_Negro.html">Rio Negro</a>
                <a href="./contacto.html">Contacto</a>
                <i class="bx" style='color:#1ca8b9;font-size: 20px;'>Sobre Nosotros</i>
                <a href="#">Términos y Condiciones</a>
                <a href="#">Politica de Privacidad</a>
                <i class="bx" style='color:#1ca8b9;font-size: 20px;'>Ayuda Soporte</i>
                <a href="#">Nuestro país</a>
                <a href="#">Quienes Somos</a>
            </div>
        </nav>
    </header>
    
    
    <main>

        
        <div class="clima"></div>
        
        <h1 class="title">Mendoza</h1>

        
        <!---======================================BIENVENIDA=============================-->

        
        <section class="bienvenida">
            <div class="presentacion">

                <p class="titulo_1">¡¡Bienvenido a Mendoza!!</p>
                <h3><i class='bx bxs-bus' style='color:#fff;font-size: 35px;' ></i><a href="#turismo" class="tx">Turismo</a></h3>
                <p class="texto_1">
                Innumerables bodegas que producen algunos de los mejores vinos del país y mucho mas.
                </p>

                <h3><i class='bx bx-cycling' style='color:#fff;font-size: 35px;' ></i><a href="#excursiones" class="tx">Excursiones</a></h3>
                <p class="texto_1">
                    Excursiones al aire libre, trekking por las montañas,deportes acuáticos en ríos y lagos.
                </p>

                <h3><i class='bx bx-restaurant' style='color:#fff;font-size: 35px;'></i><a href="#gastronomia" class="tx">Gastronomia</a></h3>
                <p class="texto_1">
                    Cocina mendocina con asados tradicionales y platos 
                    elaborados con productos frescos y regionales.
                </p>

                <h3><i class='bx bxs-hotel' style='color:#fff;font-size: 35px;'></i><a href="#hoteles" class="tx">Hoteles</a></h3>
                <p class="texto_1">
                    Hoteles y alojamientos en la ciudad, con opciones para una estancia confortable y placentera.

            </div>
            <div>
                <iframe width="600" height="427" src="https://www.youtube.com/embed/tzlErkXhXh8" 
                ></iframe>
            </div>
               
        </section><br><br><br><br>

        <!--=======================================TURISMO================================-->

        <section class="destination exc" id="turismo">

            <div class="">
                <p class="Excursiones">Lugares Turisticos</p>
            </div>
            
            
            <br>
        <!-- primer carrusel -->
            <div class="carousel-container" id="carousel1">
        
                <div class="carousel-slide">
                    <div class="content-img">
                            <img  
                            src="https://www.losandes.com.ar/resizer/08VWP1aiLw-jp6rVckF-B3Ql2Sw=/980x640/smart/filters:quality(75):format(webp)/cloudfront-us-east-1.images.arcpublishing.com/grupoclarin/3SQMO6IA2FBDTC6XUXXQ6SAATQ.jpg" 
                            alt="Lugar Turístico 1">
                    </div>
                        <div class="carousel-caption">
                             <h2>San Rafael</h2>
                             <a href="#" style=" text-decoration: none;color: #f2f2f2;"><i class='bx bxs-map' style='color:#02c977;font-size: 30px;'></i> Mapa</a>
                  <!-- Contenido del primer carrusel -->
                        </div>
                </div>
                
                <div class="carousel-slide">
                    <div class="content-img">
                            <img  
                             src="https://lujandecuyo.gob.ar/wp-content/uploads/2021/11/Lujan-de-Cuyo-capital-turistica-de-Mendoza-1080x675.jpg" 
                             alt="Lugar Turístico 2">
                    </div>
                    <div class="carousel-caption">
                        <h2>Lujan de Cuyo</h2>
                        <p></p>
                        <a href="#" style=" text-decoration: none;color: #f2f2f2;"><i class='bx bxs-map' style='color:#02c977;font-size: 30px;'></i> Mapa</a>
                    </div>
                </div>
                
                <div class="carousel-slide">
                    <div class="content-img">
                            <img  
                            src="https://mendoza.travel/wp-content/uploads/265.jpg" 
                            alt="Lugar Turístico 3"> 
                    </div>
                        <div class="carousel-caption">
                            <h2>Tupungato</h2>
                            <p></p>
                            <a href="#" style=" text-decoration: none;color: #f2f2f2;"><i class='bx bxs-map' style='color:#02c977;font-size: 30px;'></i> Mapa</a>
                        </div>
                </div>
        
                <div class="carousel-slide">
                    <div class="content-img">
                            <img  
                            src="https://images.evisos.com.ar/2013/01/19/alquilo-cabanas-en-el-manzano-historico-tunuyan-mendoza_60ab1719_3.jpg" 
                            alt="Lugar Turístico 4"> 
                    </div>
                        <div class="carousel-caption">
                            <h2>Tunuyán</h2>
                            <p></p>
                            <a href="#" style=" text-decoration: none;color: #f2f2f2;"><i class='bx bxs-map' style='color:#02c977;font-size: 30px;'></i> Mapa</a>
                        </div>
                </div>
        
                <div class="carousel-slide">
                    <div class="content-img">
                            <img  
                            src="https://lh3.googleusercontent.com/p/AF1QipPCu9PgKPs-ihFfd_cdxVU3tThYNR0hXvGq4kLa=w1080-h608-p-no-v0" 
                            alt="Lugar Turístico 5"> 
                    </div>
                        <div class="carousel-caption">
                            <h2>Vista Flores</h2>
                            <p>Las Pergolas</p>
                            <a href="#" style=" text-decoration: none;color: #f2f2f2;"><i class='bx bxs-map' style='color:#02c977;font-size: 30px;'></i> Mapa</a>
                        </div>
                </div>
        
                <div class="carousel-slide">
                    <div class="content-img">
                            <img  
                            src="https://mendoza.tur.ar/wp-content/uploads/2021/12/PLAZA-DEPARTAMENTAL.jpg" 
                            alt="Lugar Turístico 6"> 
                    </div>
                        <div class="carousel-caption">
                            <h2>Godoy Cruz</h2>
                            <p></p>
                            <a href="#" style=" text-decoration: none;color: #f2f2f2;"><i class='bx bxs-map' style='color:#02c977;font-size: 30px;'></i> Mapa</a>
                        </div>
                </div>
                
                <!-- Flechas de control para el primer carrusel -->
                <button class="prev-button" data-carousel="#carousel1">&lt;</button>
                <button class="next-button" data-carousel="#carousel1">&gt;</button>
        
            </div>
        <!-- primer carrusel -->
        
        </section> <br><br><br><br>

        <!--===================================EXCURSIONES==================================-->

        <section class=" exc" id="excursiones">
            <div class="destination">
                <p class="Excursiones">Excursiones</p>
            </div>
            

    <div class="contenedor">
        <div class="gallery">
            <figure class="gallery__picture gallery__picture--g1 mend_gal">
                <img  src="https://www.turismoestacion.tur.ar/wp-content/uploads/2016/02/600x6001357571635_sanrafael4.jpg" class="gallery__img">
            </figure> 

            <figure class="gallery__picture gallery__picture--g2 mend_gal">
                <img src="https://termascacheuta.com/wp-content/uploads/2021/12/maianaestrada-1593990673411-400x400-1.jpg" class="gallery__img">
            </figure> 

            <figure class="gallery__picture gallery__picture--g3 mend_gal">
                <img src="https://gower.ar/wp-content/uploads/2021/09/Blog-Valle-de-Uco-1.jpg" class="gallery__img">
            </figure> 
            
            <figure class="gallery__picture gallery__picture--g4 mend_gal">
                <img src="https://100metros.com.ar/04-2023/resize_1681071290.jpg" class="gallery__img">
            </figure> 
        
            <figure class="gallery__picture gallery__picture--g5 mend_gal">
                <img src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/0f/ec/d4/3b.jpg" class="gallery__img">
            </figure> 

            <figure class="gallery__picture gallery__picture--g6 mend_gal">
                <img src="https://www.losandes.com.ar/resizer/naubxBZIQzUy2yIkypZP1w4IhRc=/980x640/smart/filters:quality(75):format(webp)/cloudfront-us-east-1.images.arcpublishing.com/grupoclarin/5WGRGWMIS5E5VN6PNOSONP3VT4.jpeg" class="gallery__img">
            </figure> 

        </div>
    </div>
        </section> <br><br><br><br>

        <!--===================================GASTRONOMIA==================================-->

        <section class="gastronomia" id="gastronomia" >

            <div class="destination">
                <p class="Excursiones">Gastronomia</p>
            </div>
            
        
        <div class="targetas">
        
        <div class="card">   
            <img class="img" src="https://media-cdn.tripadvisor.com/media/photo-s/1b/81/ce/db/20200702-194959-largejpg.jpg" alt="">
                <div class="content">
                    <div class="titl">
                        <h3>Caché Bristó</h3>
                        <i class='bx bxs-map' style='color:#008f7a;display: flex; margin-top: 5px;'>
                            <a target="_blank" href="https://maps.app.goo.gl/14WEmqbfqyRrbedL9" class="map">Espejo 529,Mendoza Argentina</a>
                        </i>
                        <i class='bx bxs-phone-call' style='color:#008f7a;display: flex;margin-top: 5px;'>
                            <a class="map">+549261340-0065</a>
                        </i>
                    </div>
                    <div class="text">
                        <br><i class='bx bx-restaurant' style='color:#008f7a' ><strong style="color: rgba(57,54,52,0.73);">Servicio</strong></i>
                         <ul>
                            <li>Desayuno, Almuerzo, Merienda, Cena.</li>
                         </ul>
                    </div>
                    <div>
                        <p class="txt_web">
                            <i class='bx bxl-internet-explorer' style='color:#008f7a;'><Strong style="color:#776d6d;">Sitio Web</Strong></i>
                        </p>
                        <div class="cont-btn">
                            <a target="_blank" 
                            href="https://www.facebook.com/cache.bistro.mza/" class="btn-link">
                            View</a>
                        </div> 
                    </div>         
                </div>
        </div>
        
        <div class="card">   
            <img class="img" src="https://www.buenosbares.com/wp-content/uploads/2022/10/6f-1-550x367.jpg" alt="">
                <div class="content">
                    <div class="titl">
                        <h3>La Marchigiana</h3>
                        <i class='bx bxs-map' style='color:#008f7a;display: flex; margin-top: 5px;'>
                            <a target="_blank" href="https://maps.app.goo.gl/iizqdsHjsna2z84s7" class="map">Mendocinas 1550,Mendoza Argentina</a>
                        </i>
                        <i class='bx bxs-phone-call' style='color:#008f7a;display: flex;margin-top: 5px;'>
                            <a class="map">+54261520-0446</a>
                        </i>
                    </div>
                    <div class="text">
                        <br><i class='bx bx-restaurant' style='color:#008f7a' ><strong style="color: rgba(57,54,52,0.73);">Servicio</strong></i>
                         <ul>
                            <li>Desayuno, Almuerzo, Merienda, Cena.</li>
                         </ul>
                    </div>
                    <div>
                        <p class="txt_web">
                            <i class='bx bxl-internet-explorer' style='color:#008f7a;'><Strong style="color:#776d6d;">Sitio Web</Strong></i>
                        </p>
                        <div class="cont-btn">
                            <a target="_blank"
                            href="https://marchigiana.com.ar/" class="btn-link">
                            View</a>
                        </div> 
                    </div>             
                </div>
        </div>
        
        <div class="card">   
            <img class="img" src="https://static.wixstatic.com/media/e4e935_f1c399c6bed94b0ca461f261f2e263f2~mv2.jpg/v1/fill/w_640,h_426,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/e4e935_f1c399c6bed94b0ca461f261f2e263f2~mv2.jpg" alt="">
                <div class="content">
                    <div class="titl">
                        <h3>Martino Wines</h3>
                        <i class='bx bxs-map' style='color:#008f7a;display: flex; margin-top: 5px;'>
                            <a target="_blank" href="https://maps.app.goo.gl/MLnjqBMwA9JmGYd39" class="map">Terrada 2250, Mendoza Argentina</a>
                        </i>
                        <i class='bx bxs-phone-call' style='color:#008f7a;display: flex;margin-top: 5px;'>
                            <a class="map">+549261611-9812</a>
                        </i>
                    </div>
                    <div class="text">
                        <br><i class='bx bx-restaurant' style='color:#008f7a' ><strong style="color: rgba(57,54,52,0.73);">Servicio</strong></i>
                         <ul>
                            <li>Almuerzo.</li>
                         </ul>
                    </div> 
                    <div>
                        <p class="txt_web">
                            <i class='bx bxl-internet-explorer' style='color:#008f7a;'><Strong style="color:#776d6d;">Sitio Web</Strong></i>
                        </p>
                        <div class="cont-btn">
                            <a target="_blank"
                             href="https://martinowines.com.ar/" class="btn-link">
                             View</a>
                        </div> 
                    </div>            
                </div>
        </div>
        
        
        <div class="card">   
            <img class="img" src="https://img.restaurantguru.com/rd45-meals-El-Mundo-de-la-Parrilla-2022-10-4.jpg" alt="">
                <div class="content">
                    <div class="titl">
                        <h3>Don Mario</h3>
                        <i class='bx bxs-map' style='color:#008f7a;display: flex; margin-top: 5px;'>
                            <a target="_blank" href="https://maps.app.goo.gl/pEUK951mmDymyzAH7" class="map">25 de Mayo 1324, Mendoza Argentina</a>
                        </i>
                        <i class='bx bxs-phone-call' style='color:#008f7a;display: flex;margin-top: 5px;'>
                            <a class="map">+54261341-0364</a>
                        </i>
                    </div>
                    <div class="text">
                        <br><i class='bx bx-restaurant' style='color:#008f7a;' ><strong style="color: rgba(57,54,52,0.73);">Servicio</strong></i>
                         <ul>
                            <li>Desayuno, Almuerzo, Merienda, Cena.</li>
                         </ul>
                    </div> 
                    <div>
                        <p class="txt_web">
                            <i class='bx bxl-internet-explorer' style='color:#008f7a;'><Strong style="color:#776d6d;">Sitio Web</Strong></i>
                        </p>
                        <div class="cont-btn">
                            <a target="_blank"
                             href="https://donmario.com.ar/" class="btn-link">
                             View</a>
                        </div> 
                    </div>            
                </div>
        </div>
        
        
        <div class="card">   
            <img class="img" src="https://images.losandes.com.ar/resizer/1zD-J32DPDyB97eyUgWyWMcQwX4=/980x640/smart/filters:quality(75):format(webp)/cloudfront-us-east-1.images.arcpublishing.com/grupoclarin/HBIBGSKS2JFSNKUAVYET7PD7XI.jpg" alt="">
                <div class="content">
                    <div class="titl">
                        <h3>Maris Restó</h3>
                        <i class='bx bxs-map' style='color:#008f7a;display: flex; margin-top: 5px;'>
                            <a target="_blank" href="https://maps.app.goo.gl/opu2qxDggXD3wGqb6" class="map">Juan Terrada 2024,Mendoza Argentina</a>
                        </i>
                        <i class='bx bxs-phone-call' style='color:#008f7a;display: flex;margin-top: 5px;'>
                            <a class="map">+54261341-0364</a>
                        </i>
                    </div>
                    <div class="text">
                        <br><i class='bx bx-restaurant' style='color:#008f7a' ><strong style="color: rgba(57,54,52,0.73);">Servicio</strong></i>
                         <ul>
                            <li>Desayuno, Almuerzo, Merienda, Cena.</li>
                         </ul>
                    </div> 
                    <div>
                        <p class="txt_web">
                            <i class='bx bxl-internet-explorer' style='color:#008f7a;'><Strong style="color:#776d6d;">Sitio Web</Strong></i>
                        </p>
                        <div class="cont-btn">
                            <a target="_blank" 
                            href="https://www.vinosbonfanti.com.ar/" class="btn-link">
                            View</a>
                        </div> 
                    </div>             
                </div>   
        </div>
        
        
        <div class="card">   
            <img class="img" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/73/e7/d1/almuerzo-en-nuestros.jpg?w=1200&h=900&s=1" alt="">
                <div class="content">
                    <div class="titl">
                        <h3>Terrazas de los Andes</h3>
                        <i class='bx bxs-map' style='color:#008f7a;display: flex; margin-top: 5px;'>
                            <a target="_blank" href="https://maps.app.goo.gl/2cUUvC9DMGZfnxFs9" class="map">Luján de Cuyo, Mendoza Argentina</a>
                        </i>
                        <i class='bx bxs-phone-call' style='color:#008f7a;display: flex;margin-top: 5px;'>
                            <a  class="map">+54261490-9642</a>
                        </i>
                    </div>
                    <div class="text">
                        <br><i class='bx bx-restaurant' style='color:#008f7a' ><strong style="color: rgba(57,54,52,0.73);">Servicio</strong></i>
                         <ul>
                            <li>Desayuno, Almuerzo, Merienda, Cena.</li>
                         </ul>
                    </div>  
                    <div>
                        <p class="txt_web">
                            <i class='bx bxl-internet-explorer' style='color:#008f7a;'><Strong style="color:#776d6d;">Sitio Web</Strong></i>
                        </p>
                        <div class="cont-btn">
                            <a target="_blank"
                            href="https://www.tripadvisor.com.ar/Restaurant_Review-g1102365-d15084618-Reviews-Terrazas_de_los_Andes_Restaurante-Lujan_de_Cuyo_Mendoza_Province_of_Mendoza_Cuy.html" class="btn-link">
                            View</a>
                        </div> 
                    </div>           
                </div>
        </div>
        
        </div>
        
        </section> <br><br><br><br>

        <!--===================================HOTELES==================================-->
        
        <div class="destination" id="hoteles">
            <p class="Excursiones">Hoteles</p>
        </div>

        <section class="contenedor_hoteles">
            <div class="gallery_hoteles">

    
                <figure class="hoteles__pic hoteles__pic--g7">
                       <img src="https://hotel-ibis-mendoza.mendoza-hotels-ar.com/data/Photos/OriginalPhoto/10064/1006425/1006425871/mendoza-ibis-hotel-5521-photo-17.JPEG" class="hoteles__img" alt="Hotel Ibis Mendoza" >   
                       <div ><a target="_blank" class="hoteles__overlay" href="https://www.booking.com/hotel/ar/mendoza-guaymallen.es-ar.html">Hotel Ibis Mendoza</a></div>
                </figure>
                
            
                <figure class="hoteles__pic hoteles__pic--g8">
                    <img src="https://img.nh-hotels.net/dyPeA/qyaXvB/original/NH_Ciudad_de_Santiago_Facade_Night_Lights_on_Entrance_Plaque_External_Signage_NH_Letters_Symbol.jpg?output-quality=80&resize=1600:*&background-color=white" class="hoteles__img" alt="NH Mendoza Cordillera" >
                    <div ><a target="_blank" class="hoteles__overlay" href="https://www.booking.com/hotel/ar/nh-cordillera.es-ar.html">NH Mendoza Cordillera</a></div>
                </figure> 
    
                <figure class="hoteles__pic hoteles__pic--g9">
                     <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/22010948.jpg?k=3626afe4be74a94ba3b81c694a9622b2b4c8bae8762a41082c5f03d70d314cc8&o=&hp=1" class="hoteles__img">
                    <div ><a target="_blank" class="hoteles__overlay" href="https://www.booking.com/hotel/ar/villa-mansa.es-ar.html">Villa Mansa Wine Hotel & Spa</a></div>
                </figure> 
                
                <figure class="hoteles__pic hoteles__pic--g10">
                       <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/448715257.jpg?k=ca0dd00397a09eb9c9b585f4dc8145b6315aa9d185bfcda9c4f00f394fb5775e&o=&hp=1" class="hoteles__img">
                        <div ><a target="_blank" class="hoteles__overlay" href="https://www.booking.com/hotel/ar/sheraton-mendoza.es-ar.html">Sheraton Mendoza Hotel</a></div>
                    
                </figure> 
            
                <figure class="hoteles__pic hoteles__pic--g11">
                      <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/40940336.jpg?k=469fd9108985278f74c1a07cac263bf1257d3616e47fde759bd9453ec23aadf0&o=&hp=1" class="hoteles__img">
                        <div ><a target="_blank" class="hoteles__overlay" href="https://www.booking.com/hotel/ar/the-modern-hotels.es-ar.html">Mod Hotels Mendoza</a></div>
                
                </figure> 
    
                <figure class="hoteles__pic hoteles__pic--g12">
                       <img src="https://villaggiohotel.gr/wp-content/uploads/2021/09/DJI_0366.jpg" class="hoteles__img">
                        <div ><a target="_blank" class="hoteles__overlay" href="https://www.booking.com/hotel/gr/villaggio.es-ar.html?aid=356980&label=gog235jc-1DCAsoXEIJdmlsbGFnZ2lvSDNYA2gMiAEBmAEsuAEXyAEM2AED6AEBiAIBqAIDuAKTtMKpBsACAdICJDg5YzlkZWViLTI3ODctNDM4OC1hN2NlLTZkYjM5ZWJlNDcwZdgCBOACAQ&sid=a76a2ccead154adf2893b4340dcca149&dist=0&group_adults=2&group_children=0&keep_landing=1&no_rooms=1&sb_price_type=total&type=total&">Villaggio Boutique Hotel</a></div>
                    
                </figure>
                
            </div>
        </section><br><br><br>

        <!--==================================MAPA======================================-->

        <section>
            <div class="destination">
                <p class="Excursiones">Ubicación</p>
            </div>
            <div class="mapa">
                <div id="mi_mapa"></div>
            </div>
        </section>

    </main>

        <!--===================================FOOTER==================================-->

    <footer >

            <div class="columnas-container">
        
              <div class="columna-izquierda enlaces">
                <h2>Ayuda y Soporte</h2>
                <ul class="footerul">
                  <li class="footerli"><a href="#" class="enlace-footer">Términos y Condiciones</a></li>
                  <li class="footerli"><a href="#" class="enlace-footer">Politica de Privacidad</a></li>
                  <!--<li class="footerli"><a href="#"class="enlace-footer">Promociones Vigentes</a></li>-->
                </ul>
              </div>
        
              <div  class="footer">
                <i class="fa-brands fa-instagram fa-beat-fade fa-2xl" style="color: #cf66f5;"></i>
                <i class="fa-brands fa-whatsapp fa-beat-fade fa-2xl" style="color: #47d73c;"></i>
                <i class="fa-brands fa-facebook fa-beat-fade fa-2xl" style="color: #5291ff;"></i> 
              </div>
        
              <div class="columna-derecha enlaces">
                <h2>Sobre Nosotros</h2>
                <ul class="footerul">
                  <li class="footerli"><a href="#"class="enlace-footer">Nuestro país</a></li>
                  <li class="footerli"><a href="#"class="enlace-footer">Quienes Somos</a></li>
                  <!--<li class="footerli"><a href="#"class="enlace-footer">Mapa del Estado</a></li>-->
                </ul>
              </div>
        
            </div>
        
        <p>© 2023 Full Tours. Todos los derechos reservados.</p>
        
    </footer>

    <script src="../JS/menu.js"></script>
    <script src="../JS/js_mendoza/api_mendoza.js"></script>
    <script src="../JS/js_mendoza/apiClima.js"></script>
    
</body>
</html>